<odoo>
    <data>
    
        <menuitem id="menu_fasticket_root"
            name="FasTicket"
            sequence="1" />

            <menuitem id="menu_ticket_root"
                name="Tickets"
                parent="menu_fasticket_root"
                sequence="1" />

                <menuitem id="menu_ticket_template"
                    name="Ticket"
                    parent="menu_ticket_root"
                    sequence="1"
                    action="ticket_action_window" />

            <menuitem id="menu_event_root"
            name="Eventos"
            parent="menu_fasticket_root"
            sequence="1" />

                <menuitem id="menu_event_template"
                    name="Evento"
                    parent="menu_event_root"
                    sequence="2"
                    action="event_action_window" />
   
    </data>
</odoo>